<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							<ul id="rooms">
								{{#each rooms}}
								<li>
									<a href="/api/rooms/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href="/api/rooms/{{this.code}}">{{this.name}}</a></h2>
									{{{this.description}}}
									<span class="rate">{{this.rate}}</span>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>